.image-slider{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.left{
  display: flex;
  align-items: center;
  margin-right: .2rem;
}

.left img{
  width: 30px;
}

.right{
  display: flex;
  align-items: center;
  margin-left: .2rem;
}
.right img{
  width: 30px;
}
.imgs img{
  border-radius: 5px;
}


